<h1>My Tasks</h1>
<form>
  <% @tasks.each do |task|%>
    <input type="checkbox" name="<%=task.id%>" <%= "checked" if task.completed == true%>>
    <label for="<%=task.id%>"><%= link_to task.title, task_path(task.id) %></label>
    <%= link_to destroy_path(task), method: :delete, data: { confirm: "Are you sure?" } do  %>
    <i class="far fa-trash-alt"></i>
    <% end %>
    <br>
  <%end%>
</form>
<%=link_to "Create new task", new_path()%>
